* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

div {
	float: left;
}

section {
	background-color: gray; 
	border: 1px solid black;
	margin: 10px;
}

section h2 {
	background-color: blue; 
	border: 1px solid black;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-right: 30px;
	padding-left: 30px;
	display:inline;

	float: right;
}

section p {
	clear: right;
	padding: 0px 10px 10px 10px;
}

@media (min-width: 992px) {
	div {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#first, #second {
		width: 50%;
	}
  #third {
    width: 100%;
  }
}
